:host {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10000;
	top: 0px;
	left: 0px;
	pointer-events: none;
}

harmony-color-picker{
	pointer-events: all;
}

input{
	pointer-events: all;
}
