:host {
	--size: var(--orbit-gizmo-size, 15rem);
	position: absolute;
	left: 0;
	bottom: 0;
	width: var(--size);
	height: var(--size);
	overflow: hidden;
	z-index: 10;
}

.gizmo {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: all;
	border-radius: var(--size);
	position: absolute;
	z-index: -100000;

	--x: 1;
	--y: 1;
	--z: 1;

	/* x axis foreground color */
	--x-r-f: 1;
	--x-g-f: 0.21;
	--x-b-f: 0.33;

	/* x axis background color */
	--x-r-b: 0.62;
	--x-g-b: 0.23;
	--x-b-b: 0.29;

	/* y axis foreground color */
	--y-r-f: 0.54;
	--y-g-f: 0.86;
	--y-b-f: 0;

	/* y axis background color */
	--y-r-b: 0.39;
	--y-g-b: 0.55;
	--y-b-b: 0.14;

	/* z axis foreground color */
	--z-r-f: 0.17;
	--z-g-f: 0.56;
	--z-b-f: 1;

	/* z axis background color */
	--z-r-b: 0.21;
	--z-g-b: 0.4;
	--z-b-b: 0.62;

	--x-color: rgba(calc((var(--x-r-f) * var(--x) + (var(--x-r-b) * (1 - var(--x)))) * 255),
			calc((var(--x-g-f) * var(--x) + (var(--x-g-b) * (1 - var(--x)))) * 255),
			calc((var(--x-b-f) * var(--x) + (var(--x-b-b) * (1 - var(--x)))) * 255),
			1);

	--x-minus-color: rgba(calc((var(--x-r-b) * var(--x) + (var(--x-r-f) * (1 - var(--x)))) * 255),
			calc((var(--x-g-b) * var(--x) + (var(--x-g-f) * (1 - var(--x)))) * 255),
			calc((var(--x-b-b) * var(--x) + (var(--x-b-f) * (1 - var(--x)))) * 255),
			1);

	--y-color: rgba(calc((var(--y-r-f) * var(--y) + (var(--y-r-b) * (1 - var(--y)))) * 255),
			calc((var(--y-g-f) * var(--y) + (var(--y-g-b) * (1 - var(--y)))) * 255),
			calc((var(--y-b-f) * var(--y) + (var(--y-b-b) * (1 - var(--y)))) * 255),
			1);

	--y-minus-color: rgba(calc((var(--y-r-b) * var(--y) + (var(--y-r-f) * (1 - var(--y)))) * 255),
			calc((var(--y-g-b) * var(--y) + (var(--y-g-f) * (1 - var(--y)))) * 255),
			calc((var(--y-b-b) * var(--y) + (var(--y-b-f) * (1 - var(--y)))) * 255),
			1);

	--z-color: rgba(calc((var(--z-r-f) * var(--z) + (var(--z-r-b) * (1 - var(--z)))) * 255),
			calc((var(--z-g-f) * var(--z) + (var(--z-g-b) * (1 - var(--z)))) * 255),
			calc((var(--z-b-f) * var(--z) + (var(--z-b-b) * (1 - var(--z)))) * 255),
			1);

	--z-minus-color: rgba(calc((var(--z-r-b) * var(--z) + (var(--z-r-f) * (1 - var(--z)))) * 255),
			calc((var(--z-g-b) * var(--z) + (var(--z-g-f) * (1 - var(--z)))) * 255),
			calc((var(--z-b-b) * var(--z) + (var(--z-b-f) * (1 - var(--z)))) * 255),
			1);
}

.gizmo:hover {
	background-color: rgba(130, 130, 130, 0.5);
}

svg {
	position: absolute;
	width: 100%;
	height: 100%;
	stroke-width: calc(var(--size) * 0.01);
	pointer-events: none;
}

.label {
	pointer-events: all;
	cursor: pointer;
	position: absolute;
	text-wrap: nowrap;

	--label-size: calc(var(--size) * 0.1);

	width: var(--label-size);
	height: var(--label-size);
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--label-size);
	font-size: calc(var(--size) * 0.06);
	border-style: solid;
	border-width: calc(var(--size) * 0.01);
	color: black;
}

.label:hover {
	color: white;
}

.label.minus {
	font-size: 0;
}

.label.minus:hover {
	font-size: initial;
}

.label.x {
	border-color: var(--x-color);
	background: var(--x-color);
}

.label.minus.x {
	border-color: var(--x-minus-color);
	background: transparent;
}

.label.y {
	border-color: var(--y-color);
	background: var(--y-color);
}

.label.minus.y {
	border-color: var(--y-minus-color);
	background: transparent;
}

.label.z {
	border-color: var(--z-color);
	background: var(--z-color);
}

.label.minus.z {
	border-color: var(--z-minus-color);
	background: transparent;
}

.stroke0 {
	stroke: var(--x-color);
}

.stroke2 {
	stroke: var(--y-color);
}

.stroke4 {
	stroke: var(--z-color);
}
