datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	writing-mode: vertical-lr;
	width: 100%;
}

label {
	display: flex;
	gap: 0.5rem;
	padding: 0.5rem;
	align-items: center;
}

span.title {
	flex: 0 auto;
}

div.content {
	flex: 1 auto;
	display: flex;
	flex-direction: column;
}
